.vertical-status-bar {
  // position: relative;  // Required for proper positioning
  margin-top: 150px;
  min-height: 100px;  // Adjust to your desired height
  width: 10px;  // Desired width for the bar
  background: #7A0ECF;  // Example color
  border-radius: 10px;  // Rounded corners

}