.team-container {
    background: linear-gradient(to bottom, rgba(128, 0, 32, 0.5), rgba(26, 0, 7, 0.5)),#000000;
    height: 750px;
    display: flex;
    padding: 8%;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-transform: capitalize;
  }
  
  .text-side-right {
    flex: 1;
    font-size: 20px;
    text-align: center;
    font-weight: 700;

    h1 {
      font-family: var(--zoo-font);
      font-size: 80px;
      color: #F7A55C;
      font-weight: normal;
      }
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 25px;
      font-weight: 800;
      color: transparent !important;
      -webkit-text-stroke: 1.5px #DD6080;
      -webkit-background-clip: text;
      background-clip: text;
    }

    a {
      font-size: 30px;
      color: #F49D60;
    }
  }


  .image-side-left {
    flex: 1;
    padding-right: 20px;
  }
  
  .image-side-left img {
    max-width: 100%;
    height: 100%;
    object-fit: cover; 
  }