.tennis-container {
  background: var(--dark-gradient);
  color: white;
  text-transform: capitalize;

  .text-side-left {
    padding-left: 86px;
    font-size: 20px;
    text-align: center;

    h1 {
      font-size: 50px;
      font-weight: bold;
      color: transparent;
      background: linear-gradient(91deg, #DD6080, #F7A55C);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-stroke: 2px black;

    }
    p {
      letter-spacing: 2px;
      font-weight: 700;
    }
  }
  
  .image-side-right img {
    max-width: 95%;
    height: 100%;
    object-fit: cover;
  }
}