.header-container {
    width: 100%;
    min-height: 116px;
    background: linear-gradient(91deg, #DD6080 4.08%, #F7A55C 106.84%);
    border: none; /* 4px shadow with 25% opacity */

    .gradient-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: black;
        font-style: normal;

        h1 {
            padding-top: 10px;
            font-size: 40px;
            font-weight: bold;
          }
        p {
            font-size: 18px;
            font-weight: light;
        }
    }
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .gradient-box {
      height: auto;
      padding: 20px;
    }
  
    .gradient-text {
      font-size: 24px;
    }
  }