.contact-form {
    min-height: 100vh;
    background: linear-gradient(to right,rgba(0, 0, 0, 1), rgba(120, 82, 82, 1));

    .question-title {
        font-size: 15px !important; 
        font-weight: 800;
        letter-spacing: 2%;
        color: #445463; 
        text-transform: 
        uppercase; 
        margin: 0 0 10px;
    }
}